// Your custom blog styles here
#header {
    @apply relative;
    height: 250px;
    // background-image: linear-gradient(to left, #90cdf4, #4299e1);
    background-image: linear-gradient(to left, #a0aec0, #e2e8f0);
}

@media (max-width: 1023px) {
    #header {
        height: 140px;
    }
}

main ul,
main ol {
    @apply ml-10;
}

main ul li,
main ol li {
    @apply my-2;
}

main ul li {
    @apply list-disc;
}

main ol li {
    @apply list-decimal;
}

img.thumbnail {
    @apply mx-auto my-12 shadow-lg rounded-lg;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
