// Your custom blog styles here
#header {
    @apply relative;
    height: 250px;
    // background-image: linear-gradient(to left, #90cdf4, #4299e1);
    background-image: linear-gradient(to left, #a0aec0, #fff);
}

@media (max-width: 1023px) {
    #header {
        height: 140px;
    }
}

main ul,
main ol {
    @apply ml-10;
}

main ul li,
main ol li {
    @apply my-2;
}

main ul li {
    @apply list-disc;
}

main ol li {
    @apply list-decimal;
}

img.thumbnail {
    @apply mx-auto my-12 shadow-lg rounded-lg;
}

.z-60 {
    z-index: 60;
}

.z-100 {
    z-index: 100;
}

.z-full {
    z-index: 9999;
}

.w-70 {
    width: 20rem;
}

.w-80 {
    width: 26rem;
}

@media (min-width: 640px) {
    .active {
        @apply bg-orange-500 shadow;
    }

    .active:hover {
        background-color: #ED8936 !important;
        color: white !important;
    }
}
